<html>
  <head>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    {{ plotscript | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Stock Ticks for {{stock}} </h1>
      {{ plotdiv | safe }}
	<h3><a href="/index">Try another stock</a></h3>
    </div>
  </body>
</html>

