<!doctype html>
<title>Stock History</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
    <h1>Stock History</h1>
    <div class=metanav>
        
        <h4>
            Please enter a stock ticker eg. GOOG, and check desired features.
        </h4>
            
        <form id='mainform' method='post' action='index' >
            <p>
        Ticker symbol: <input type='text' name='ticker' />
            </p>
            <p>
        Closing Price <input type="checkbox" name='Close' />
            </p>
            <p>
        Adjusted Closing price <input type="checkbox" name='Adj. Close' />
            </p>
            <p>
        Opening Price <input type="checkbox" name='Open' />
            </p>
            <p>
        Adjusted Opening Price <input type="checkbox" name='Adj. Open' />
            </p>
            <p>
        <input type='submit' value='Submit' />
            </p>
        </form>
            
    </div>
</div>

